.wrap {
    width: 360px;
    height: 410px;
    background: #FFFFFF;
    font-family: var(--font-family-main);
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 32px;
    grid-area: view; 
    overflow: overlay;
}

.title {
    font-size: var(--font-line-m);
    color: #424242;
    text-align: left;
    margin: 0;
    font-weight: 500;
}

.filterArea {
    display: flex;
    margin: 30px 0;
    gap: 15px;
}

.filterByRaiting,
.filterByPrice {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    border-radius: 4px;
    padding: 10px 15px;
    display: flex;
    gap: 20px;
    position: relative;
    cursor: pointer;

    span {
        font-family: var(--font-family-main);
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.408px;
        color: #99A0A3;
    }
}

.arrowUp {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: absolute;
    top: 12px;
    right: 13px;
}

.fill {
    border: solid  #424242;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrowDown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 18px;
    right: 13px;
}


.filterByRaiting:hover,
.filterByPrice:hover {
    border: 1px solid #41522E;
    transition: 0.3s;

    span {
        color: #41522E;
        transition: 0.3s;
    }
}

i:hover {
    border: solid #41522E;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: -4px;
    transition: 0.3s;
}

.wrap::-webkit-scrollbar,
.wrap::-webkit-scrollbar-thumb {
    width: 21px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

.wrap::-webkit-scrollbar-thumb {
    background-color: #41522E;
}
