.wrap {
    width: 664px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 48px 32px;
    grid-area: main;
}

.favoriteCount {
    font-family: var(--font-family-main);
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
}