.wrap {
background-color: #E5E5E5;
display: flex;
justify-content: center;
gap: 2rem;
padding: 60px 0;
}

.additionalArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}