.wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    width: 95%;
}

.favoriteHotel {
    padding: 10px 0;
}

.image {
    height: 64px;
    width: 64px;
    color: beige;
    background-color: aliceblue;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
}

.raiting {
    margin-top: 10px;
}

.additionalInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 37%;
}

.label {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
    margin-right: 5px;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.408px;
    color: #424242;
}

.favorite {
    margin: 5px;
}

.info {
    width: 40%;
}

.date {
    display: flex;
    gap: 15px;

    span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: #878787;
    }
}